<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>LuxTrail</title>
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <h2 class="page-title">Check your streak</h2>

  <input type="text" class="usernameInput" placeholder="Input your User Name" />
  <button onclick="checkUser()">GET</button>

  <div class="result"></div>

  <script src="../static/script.js"></script>
</body>
</html>
